notebook
hotel_reservations.egg-info/
artifacts/
__pycache__/
*.pyc
.DS_Store
.vscode/
env/
.venv/
.ipynb_checkpoints/
logs/
*.log
.env
*.sqlite3
coverage
htmlcov/
.tox/
mlruns/
.pytest_cache/
.idea/
